<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{msg}}</h5>
          <p>
            <strong>ID</strong>: {{tools.id}}</p>
          <p>
          <p>
            <strong>User Name</strong>: {{tools.userName}}</p>
          <p>
            <strong>Tool</strong>: {{tools.tool}}</p>
          <p>
            <strong>Price</strong>: {{tools.price}}</p>
          <p>
            <strong>Quantitiy</strong>: {{tools.qty}}</p>
            
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
